<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <h1 th:if="${gotCredit != null}"
        th:text="${gotCredit ? 'Brawo!' : 'mups nie asz'}"
        th:style="${'color: ' + (gotCredit ? 'green' : 'red')}"></h1>




    <form  action="/" method="post">
        <input type="number" name="salary" placeholder="Podaj miesieczny dochod"><br/>
        <input type="number" name="bills" placeholder="Podaj miesieczne zobowiazania"><br/>
        <input type="number" name="amountOfCredit" placeholder="Podaj kwote kreydtu ktora chcesz uzyskac"><br/>
        <input type="number" name="numberOfMonths" placeholder="Podaj na ile miesiecy chcesz rozlozyc rate"><br/>
        <input type="submit" value="Wyślij"><br/>
    </form>

    <br/><br/>

    <ul>
        <li th:each="decision : ${creditDecision}" th:text="${decision}"></li>
    </ul>
</body>
</html>